@model System.Collections.Generic.IEnumerable<EloWeb.Models.Player>

@{
    ViewBag.Title = "Best Ever Winning Streak Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Best Ever Winning Streak</h2>

<h4>
@Html.ActionLink("Add Game", "Create", "Games", null, new { @class = "btn btn-primary" }) | @Html.ActionLink("Add Player", "Create", "Players", null, new { @class = "btn btn-default" })
</h4>

<table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Longest winning streak</th>
        </tr>
    </thead>
    <tbody>
    @{ var rank = 1; }
    @foreach (var item in Model) {
        <tr>
            <td>@rank</td>
            <td>@Html.ActionLink(item.Name, "Details", "Players", new { name = item.Name }, null)</td>
            <td>@item.LongestWinningStreak()</td>
        </tr>
        rank++;
    }
    </tbody>
</table>
