@model IEnumerable<EloWeb.Models.Player>

@{
    ViewBag.Title = "Ratings Leaderboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ratings</h2>

<h4>
@Html.ActionLink("Add Game", "Create", "Games", null, new { @class = "btn btn-primary" }) | @Html.ActionLink("Add Player", "Create", "Players", null, new { @class = "btn btn-default" })
</h4>

<table class="table">
    <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Rating</th>
        <th>Change</th>
    </tr>

@{ var rank = 1; }
@foreach (var item in Model) {
    <tr>
        <td>@rank</td>
        <td>@Html.ActionLink(item.Name, "Details", "Players", new { name = item.Name }, null)</td>
        <td>@Html.DisplayFor(modelItem => item.CurrentRating)</td>
        <td>@Html.DisplayFor(modelItem => item.LatestRatingChange)</td>
    </tr>
    rank++;
}
</table>
