<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EloRate</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")
</head>
<body>  
    <div class="site-wrap">
        <nav id="body-nav">
            <a href="#" class="toggle-nav">
                <span class="glyphicon glyphicon glyphicon-th"></span>
            </a>                  
            <ul>
                <li><a href="@Url.Action("Index", "Home")"><span class="glyphicon glyphicon-th-list"></span> Leaderboard</a></li>
                <li><a href="@Url.Action("Index", "Games")"><span class="glyphicon glyphicon-play-circle"></span> Games</a></li>
                <li><a href="@Url.Action("Index", "Players")"><span class="glyphicon glyphicon-user"></span> Players</a></li>
                <li><a href="@Url.Action("Records", "Players")"><span class="glyphicon glyphicon-book"></span> Records</a></li>
                <li><a href="@Url.Action("Index", "Rules")"><span class="glyphicon glyphicon-comment"></span> Rules</a></li>
            </ul>
        </nav> 
        <div id="content">
            <div class="container">
                @RenderBody()
            </div>     
        </div>                           
    </div>   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $('.toggle-nav').click(function () {
                $('body').toggleClass('show-nav');
                return false;
            });

        });

        // Toggle with hitting of ESC
        $(document).keyup(function (e) {
            if (e.keyCode == 27) {
                $('body').toggleClass('show-nav');
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
